<%= provide(:title, "Create Questions") %>

  <h1 class="text-center text-white font-bold text-2xl mb-8">出題文作成</h1>
  <div class="text-white ml-52 ">
    <%= form_with(model: @form, url: questions_path, local: true) do |f| %>

      <div class="flex flex-col">
        <%= f.fields_for :questions do |i| %>
          <div class="text-black">
            <%= i.text_field :content, class:"w-1/2 h-16 pl-4 m-4 border border-solid border-black rounded" %>

            <%= i.select :mode_num,  {'1': 1, '2': 2}, { include_blank: false, selected: 1}, class:"w-16"%>
          </div>
        <% end %>
      </div>


        <%= f.submit "作成", class: "w-36 mt-4 bg-white hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded-full" %>

      <% end %>
  </div>

