<%= provide(:title, "Create Questions") %>


  <h1>Explainモード質問作成</h1>
  <%= link_to "Reactionモード質問作成ページへ", new_statement_path %>
  <%= form_with(model: @form, url: questions_path, local: true) do |f| %>

    <%= f.fields_for :questions do |i| %>
      <%= i.text_field :content %>
    <% end %>


    <%= f.submit "作成", class: "btn" %>

  <% end %>

