<% provide(:title, "Log in") %>

<div class="w-full max-w-md h-full container mx-auto bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
  <h1 class="text-center font-bold text-2xl mb-6">ログイン</h1>
  <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
    <div class="my-4">
      <%= f.label :email,  "メールアドレス" %>
      <%= f.email_field :email, class: "pl-3 h-10 w-full border-solid border-2 rounded border-gray-600"  %>
    </div>
    <div class="my-4">
      <%= f.label :password, "パスワード" %>
      <%= link_to "(パスワードを忘れた場合はこちらから！)", new_password_reset_path, class: "underline text-blue-900 hover:text-blue-100" %>
      <%= f.password_field :password, class: "pl-3 h-10 w-full border-solid border-2 rounded border-gray-600" %>
    </div>
    <div class="my-4">
      <%= f.label :remember_me  do %>
        <%= f.check_box :remember_me %>
        <span>ログイン状態を保持する</span>
        <% end %>
    </div>


    <%= f.submit "ログイン", class: "mt-4 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" %>
    <%= link_to "新規登録はこちらから！", signup_path, class: "ml-10 underline text-blue-900 hover:text-blue-100" %>
  <% end %>



</div>
