<%= provide(:title, "React Statements") %>

 <div class="text-2xl w-full max-w-md h-full container mx-auto bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
   <%= @statement.content %>
 </div>

  <%= form_with(model: @reaction, local: true) do |f| %>
  <%= hidden_field_tag :id, @statement.id %>

    <%= f.text_area :content, class: "content-center resize-none text-2xl h-36 pl-3 pt-3 h-10 w-full border-solid border-2 rounded border-gray-600" %>
    <div class="text-center">
      <%= f.submit "次の問題へ進む", class: "w-36 mt-4 bg-white hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" %>
    </div>

  <% end %>
  <div class="text-center mt-10">
     <%= link_to "終了する", root_path , class: "bg-gray-300 hover:bg-gray-200 text-black font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded" %>
  </div>

