<%= provide(:title, "Answer Questions") %>

 <section>
  <%= @question.content %>
 </section>

  <%= form_with(model: @answer, local: true) do |f| %>
  <%= hidden_field_tag :id, @question.id %>

    <%= f.text_field :content %>

    <%= f.submit "next", class: "btn" %>
  <% end %>
<%= link_to "終了する", root_path , class: "btn" %>
