

  <%= link_to "SelfTalkEnglish", root_path, class:"font-serif text-3xl"  %>

    <nav class="float-right flex flex-row text-white font-bold mt-4 mr-10 ">
      <% if logged_in? && !guest_user? %>
        <%= link_to "マイページ", current_user, class:"mr-4 hover:bg-blue-300" %>
        <ul>
          <li id="menu" class="hover:bg-blue-300 cursor-pointer">メニュー ▼</li>
          <div id="tab" class="fixed z-10 p-2 bg-blue-900 text-center font-thin border border-solid border-white rounded hidden">
            <% if logged_in? %>
              <li class="mt-2 hover:bg-blue-300"><%= link_to "ログアウト", logout_path, method: :delete %></li>
                <% if !guest_user? %>
                    <li class="mt-2 hover:bg-blue-300"><%= link_to "登録情報変更", edit_user_path(current_user) %></li>
                <% end %>
                <% if current_user.admin? %>
                    <li class="mt-2 hover:bg-blue-300"><%= link_to "問題作成", new_question_path %></li>
                    <li class="mt-2 hover:bg-blue-300"><%= link_to "問題一覧", questions_path(mode_num: 1) %>
                <% end %>
            <% end %>
          </div>
        </ul>
      <% else %>
        <%= link_to "ログイン", login_path, class:"mr-4 hover:bg-blue-300" %>
        <%= link_to "新規登録", signup_path, class:"mr-4 hover:bg-blue-300" %>
        <% if guest_user? %>
          <%= link_to "ログアウト", logout_path, method: :delete, class:"hover:bg-blue-300" %>
        <% end %>
      <% end %>
    </nav>

</header>

