<%= javascript_pack_tag 'home_page/application' %>
<header class="bg-blue-900 h-24 border-b-2 border-fuchsia-600">
  <div>
    <div class="font-serif">
      <%= link_to "SelfTalkEnglish", root_path, id: "logo" %>
    </div>
    <%= link_to "ゲスト", guest_sign_in_path, method: :post %>
    <nav id="nav">
      <ul>
        <% if logged_in? %>
         <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
         <% if !guest_user? %>
            <li><%= link_to "マイページ", current_user %></li>
            <li><%= link_to "登録情報変更", edit_user_path(current_user) %></li>
         <% end %>
         <% if current_user.admin? %>
            <li><%= link_to "問題作成", new_question_path %></li>
            <li><%= link_to "問題一覧", questions_path %>
         <% end %>
        <% else %>
         <li><%= link_to "新規登録", signup_path %></li>
         <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
    <div id = "hamburger">
      <span class="inner_line" id="line1"></span>
      <span class="inner_line" id="line2"></span>
      <span class="inner_line" id="line3"></span>
    </div>
  </div>
</header>