<%= javascript_pack_tag 'home_page/application' %>
<header>
  <div id = "header-container">
    <div class = "header-logo">
      <%= link_to "SelfTalkEnglish", root_path, id: "logo" %>
    </div>
    <nav id="nav">
      <ul>
        <% if logged_in? %>
         <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
         <li><%= link_to "マイページ", current_user %></li>
        <% else %>
         <li><%= link_to "新規登録", signup_path %></li>
         <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
    <div id = "hamburger">
      <span class="inner_line" id="line1"></span>
      <span class="inner_line" id="line2"></span>
      <span class="inner_line" id="line3"></span>
    </div>
  </div>
</header>