<!DOCTYPE html>
<html>
  <head>
    <title><%=full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <!--[if lt IE 9]>
     <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
     </script>
    <![endif]-->
  </head>

  <body  class="bg-blue-900 flex flex-col min-h-screen">
     <% flash.each do |message_type, message| %>
       <div class="<%= message_type %>"><%= message %></div>
     <% end %>
    <div id="application"></div>
    <!--<%= render 'layouts/header' %>
    <div class = "p-24 flex-grow">
     <% flash.each do |message_type, message| %>
       <div class="<%= message_type %>"><%= message %></div>
     <% end %>
     <%= yield %>
    </div>
    <%= render 'layouts/footer' %>-->
  </body>
</html>
